{% extends "base.html" %}

{% block content %}
    <style>
    p input{
        border-width: 2px;
	    border-color: gray;
	    border-radius: 30px;
	    padding: 15px 10px;
	    margin-top: 10px;
	    margin-bottom: 10px;
	    background-color: 8F8E89;
	    width: 15%;
	}
	.del {
	    color: #8B0000;
	}
	.del:hover {
	    color: #FF0000;
	}
	form a{
	    font-size: 20px;
	    color: 6E6D68;
    }
    form a:hover{
	    font-size: 20px;
	    color: #78B0AE;
    }
    </style>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.submit() }}</p>
        <a href="/settings">Изменить настройки поиска</a>
    </form>
        {% for item in vacancies %}
            <div class="container">
                <div class="col-md-12">
                    <div class="alert alert-info" role="alert">
                        <div>
                            <h3>{{item[1]}}</h3>
                            <p>Работодатель: {{item[2]}}</p>
                            <p>Дата публикации: {{item[3]}}</p>
                            <a href={{item[4]}}><h4>Ссылка</h4></a>
                        </div>
                        <a class="del" href="/delete_vacancie/{{item[0]}}">Удалить вакансию</a>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}